doctype html
html
  head
    title Meowdium - #{title}
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=PT+Serif&family=News+Cycle:wght@400;700&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/main.css')
    meta(name='title' property='og:title' content='Meowdium')
    meta(name='type' property='og:type' content='Website')
    meta(name='description' property='og:description' content='A simple Medium clone for cat stories')
    meta(name='image' property='og:image' content='https://user-images.githubusercontent.com/54250710/140093358-05d99d6b-24bc-4b32-af94-2e2501edc687.png')
    meta(name='url' property='og:url' content='https://meowdium.herokuapp.com/')
    meta(name='site_name' property='og:site_name' content='Meowdium')
    block head
  body
    block nav-bar
      div(class='nav-bar')
        div(class='logo')
          a(href='/' class='logo-link')
            img(src='../images/Meowdium-Logo.png' class='logo-img')
        div(class='spacer')
        div(class='user-utils')
          if locals.authenticated
            div(class='logged-in-user')
              a(href=`/users/${user.id}` class='username-btn') #{user.userName}
              a(href="/pawsts/new" class='btn btn-pawst') Pawst
              form(action='/users/logout' method='post')
                button(class='btn btn-logout' type='submit') Logout
          else
            div(class='logged-out-user')
              a(href="/users/signup" class='btn btn-signup') Signup
              a(href="/users/login" class='btn btn-login') Login

    block content
    block footer 
      div(class='footer-bar')
        div(class='github-links')
          image(id="github-icon" src="images/github-mark.png", alt="")        
          div(class='al-div names')
            a(target="_blank" href="https://github.com/AlwynGrant") Alwyn
          div(class='kenneth-div names')        
            a(target="_blank" href="https://github.com/kennethmanhonglee") Kenneth
          div(class='kris-div names')        
            a(target="_blank" href="https://github.com/kristopher-castillo") Kris
          div(class='michael-div names')        
            a(target="_blank" href="https://github.com/MCE-Design") Michael