doctype html
html
  head
    title Meowdium - #{title}
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=PT+Serif&family=News+Cycle:wght@400;700&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/main.css')
    block head
  body
    block nav-bar
      div(class='nav-bar')
        div(class='logo')
          a(href='/' class='logo-link')
            img(src='../images/cat-4475583_640.png' class='logo-img')
        div(class='spacer')
        div(class='user-utils')
          if locals.authenticated
            div(class='logged-in-user')
              a(href="/pawsts/new" class='btn btn-pawst') Pawst
              form(action='/users/logout' method='post')
                button(class='btn btn-logout' type='submit') Logout
          else
            div(class='logged-out-user')
              a(href="/users/signup" class='btn btn-signup') Signup
              a(href="/users/login" class='btn btn-login') Login

    block content
