extends layout
include utils

block head
  link(rel='stylesheet' href='/stylesheets/new-pawst.css')

block nav-bar
  div(class='nav-bar')
    div(class='logo')
      a(href='/' class='logo-link')
    div(class='spacer')
    div(class='user-utils')
      div(class='logged-in-user')
        a(href="/pawsts/new" class='btn btn-pawst') Pawst
        form(action='/users/logout' method='post')
          button(class='btn btn-logout' type='submit') Logout

block content
  div.content
    div.new-pawst-top.top-section
      h2 Pawst something
    div.new-pawst-bottom
      div.form-container
        +validationErrorSummary(errors)
        form(action='/pawsts' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          +field('title', post.title, 'text', 'Title')
          div(class='form-group')
            input(type='text' id='subtitle' name='subtitle' value=post.subtitle placeholder='Subtitle' class='form-control')
          +field('content', post.content, 'textarea', 'Meow your heart out...')
          div(class= 'new-pawst-submit')
            button(type='submit' class='btn btn-primary') Submit
block footer 
  div(class='footer-bar')
    div(class='github-links')
      image(id="github-icon" src="../images/github-mark.png", alt="")        
      div(class='al-div names')
        a(target="_blank" href="https://github.com/AlwynGrant") Alwyn
      div(class='kenneth-div names')        
        a(target="_blank" href="https://github.com/kennethmanhonglee") Kenneth
      div(class='kris-div names')        
        a(target="_blank" href="https://github.com/kristopher-castillo") Kris
      div(class='michael-div names')        
        a(target="_blank" href="https://github.com/MCE-Design") Michael