extends layout.pug

block head
  link(rel='stylesheet' href='/stylesheets/user-page.css')
  link(rel='stylesheet' href='/stylesheets/splash.css')

block content
    .page-container
        .container
            .cat-image
            .welcome-message
                h2 Welcome to Meowdium!
                p Get Started #[a(href='/users/signup') here].
                p If you are already a member, log in #[a(href='/users/login') here].
