extends layout.pug

block head
  link(rel='stylesheet' href='/stylesheets/user-page.css')
  link(rel='stylesheet' href='/stylesheets/splash.css')

block content 
    .page-container 
        .cat-image 
        .welcome-message 
            h2 Welcome to Meowdium!