extends layout
include utils

block head
  link(rel='stylesheet' href='/stylesheets/login.css')

block nav-bar
  div(class='nav-bar')
    div(class='logo')
      a(href='/' class='logo-link')

block content
  div.content
    div.login-top.top-section
      h2 Welcome back.
    div.login-bottom
      div.form-container
        +validationErrorSummary(errors)
        form(action='/users/login' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          +field('userName', user.username, 'text', 'Username')
          +field('password', null, 'password', 'Password')
          div(class='')
            button(type='submit' class='btn btn-primary') Login
        p
          form(action='/users/login/demo' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div(class='demo-div')
              button(type='submit' class='btn btn-primary') Demo User
block footer 
  div(class='footer-bar')
    div(class='github-links')
      image(id="github-icon" src="../images/github-mark.png", alt="")        
      div(class='al-div names')
        a(target="_blank" href="https://github.com/AlwynGrant") Alwyn
      div(class='kenneth-div names')        
        a(target="_blank" href="https://github.com/kennethmanhonglee") Kenneth
      div(class='kris-div names')        
        a(target="_blank" href="https://github.com/kristopher-castillo") Kris
      div(class='michael-div names')        
        a(target="_blank" href="https://github.com/MCE-Design") Michael
