extends layout.pug
include utils.pug

block content
    +validationErrorSummary(errors)
    form(action='/users/signup' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('username', user.username, 'text', 'Username')
        +field('email', user.email, 'email', 'Email')
        +field('password', null, 'password', 'Password')
        +field('confirmPassword', null , 'password', 'Confirm Password')
        div(class='py-4')
            button(type='submit' class='btn btn-primary') Sign Up
