extends layout.pug
include utils.pug

block head
  link(rel='stylesheet' href='/stylesheets/signup.css')

block nav-bar
  div(class='nav-bar')
    div(class='logo')
      a(href='/' class='logo-link')
        img(src='../images/cat-4475583_640.png' class='logo-img')


block content
  div.content
    div.signup-top.top-section
      h2 Join Meowdium
    div.form-container
      +validationErrorSummary(errors)
      form(action='/users/signup' method='post' class='form')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('userName', user.username, 'text', 'Username')
        +field('email', user.email, 'email', 'Email')
        +field('password', null, 'password', 'Password')
        +field('confirmPassword', null , 'password', 'Confirm Password')
        div(class='')
            button(type='submit' class='btn btn-primary') Sign Up
      p
        form(action='/users/login/demo' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          div(class='demo-div')
            button(type='submit' class='btn btn-primary') Demo User
