extends layout.pug
include utils.pug

block head
  link(rel='stylesheet' href='/stylesheets/signup.css')

block content
  div.content
    div.signup-top
      h2 Join Meowdium
    div.form-container
      +validationErrorSummary(errors)
      form(action='/users/signup' method='post' class='form')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('userName', user.username, 'text', 'Username')
        +field('email', user.email, 'email', 'Email')
        +field('password', null, 'password', 'Password')
        +field('confirmPassword', null , 'password', 'Confirm Password')
        div(class='')
            button(type='submit' class='btn btn-primary') Sign Up
