/* Login Styling */

.login-top {
  margin: 50px 0 25px;
}

.form-container .form-group:nth-last-child(2) {
  margin-bottom: 10px;
}

body {
  background-image: url('../images/cat-4475583_640.png');
  background-repeat: no-repeat;
  background-position: 650px 800px;
  background-size: 400px;
}
