/* Main Styling */ /* Put styling that goes everywhere here */

body {
  font-family: 'PT Serif', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  color: #5F5F5F;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.25rem;
}
.index-top h2 {
  background-color: rgba(255, 0, 0, 0.02);
  border-radius: 10px;
  padding: 0px 20px 10px;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.03);
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-width: 0 0 1px;
}

h3 {
  font-size: 1.5rem;
}

.btn {
  border-radius: 99em;
  padding: 10px;
  transition: background-color .75s;
  cursor: pointer;
}
form .btn.btn-primary {
  width: 200px;
  /* background-color: #292929; */
  background-color: #ffd7dc;
  /* color: #FFFFFF; */
  color: #666666;
}

form .btn.btn-primary:hover {
  /* background-color: #080808; */
  background-color: #ffbdc6;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  padding: 60px 0;
}

.nav-bar{
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  display: flex;
  min-height: 75px;
  max-height: 75px;
  background-color: #fff0f2;
  padding: 5px 20px;
  border: 1px solid #fff0f2;
  box-shadow: 0px 1px 3px rgb(255 100 100 / 30%);
  border-width: 0 0 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.logo-img {
  width: auto;
  height: 25px;
}

.logo {
  align-self: center;
  /* transition: transform 0.75s; */
}
.logo:hover {
  animation-duration: 1s;
  animation-name: jostle;
  animation-iteration-count: infinite;
}
@keyframes jostle {
  25% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 0);
  }
}
.nav-bar a {
  text-decoration: none;
  color: #666666;
}
.nav-bar .spacer {
  flex: 1 0 auto;
}

.btn.btn-pawst{
  width: 65px;
  text-align: center;
}

.btn.btn-pawst:hover {
  font-weight: bold;
}

.btn.btn-signup:hover {
  font-weight: bold;
}

.btn.btn-your-pawsts {
  width: 115px;
  text-align: center;
}

.btn.btn-your-pawsts:hover {
  font-weight: bold;
}


.nav-bar .user-utils,
.nav-bar .user-utils .logged-in-user {
  display: flex;
  align-items: center;
}

.nav-bar .btn.btn-logout,
.nav-bar .btn.btn-login {
  background-color: #ffd7dc;
  font-size: 1rem;
  color: #5F5F5F;
}

.nav-bar .btn.btn-logout:hover,
.nav-bar .btn.btn-login:hover {
  background-color: #ffbdc6;
}

.form-container .errors {
  margin-bottom: 20px;
}

input.form-control {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin: 0 0 10px;
  color: #666666;
}

input.form-control:focus-visible {
  outline-width: 0;
  border-color: #ffbdc6;
}


.username-btn:hover {
  font-weight: bold;
}

#github-icon {
  max-height: 30px;
  margin-right: 10px;
}

.names {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}

.names a {
  text-decoration: none;
}

.al-div {
  width: 47px;
}
.kenneth-div {
  width: 64px;
}
.kris-div {
  width: 27px;
}
.michael-div {
  width: 55px;
}

.names a:hover {
  font-weight: bold;
}

.footer-bar {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 75px;
  max-height: 75px;
  width: 100%;
  background-color: #fff0f2;
  padding: 5px 20px;
  border: 1px solid #fff4f6;
  box-shadow: 0px -1px 3px rgb(255 150 100 / 30%);
  border-width: 0 0 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.content {
  padding-bottom: 75px;
}

.footer-bar, .github-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-user:hover {
  text-decoration: underline;
}

.index-top {
  padding: 40px 0px;
}
