/* New Pawst Styling */


input.form-control {
  min-width: 500px;
}

.form-container .form-group:nth-last-child(2) {
  margin-bottom: 10px;
}

#title {
  font-size: larger;
  border: none;
}

#subtitle {
  font-size: larger;
  border: none;
}

#content {
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
  min-height: 300px;
  min-width: 500px;
  outline: none;
  border: none;
  font-size: large;
  background-color: #FFF8FA;
}

.new-pawst-submit {
    text-align: end;
}
