/* New Pawst Styling */

input.form-control {
  min-width: 500px;
}

.form-container .form-group:nth-last-child(2) {
  margin-bottom: 10px;
}

#title {
  font-size: larger;
  border: none;
  background-color: rgba(255, 215, 220, 0.25);
  border-radius: 4px;
}

#subtitle {
  font-size: larger;
  border: none;
  background-color: rgba(255, 215, 220, 0.25);
  border-radius: 4px;
}

#content {
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
  min-height: 300px;
  min-width: 500px;
  outline: none;
  border: none;
  font-size: large;
  color: #333333;
  background-color: #fff8fa;
}

.new-pawst-submit {
  text-align: end;
}
