/* New Pawst Styling */


input.form-control {
  min-width: 500px;
}

.form-container .form-group:nth-last-child(2) {
  margin-bottom: 10px;
}

.logo-img {
   width: auto;
   height: 25px;
}

.logo {
  align-self: flex-end;
}

#title {
    font-size: larger;
    border: none;
}

#subtitle {
    font-size: larger;
    border: none;
}

#content {
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
    min-height: 300px;
    min-width: 500px;
    outline: none;
    border: none;
    font-size: large;
}

.new-pawst-submit {
    text-align: end;
}
