
/* .user-bio {
    flex: 0 1 25%;
} */

/* .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
} */

/* .user-name, .user-email {
    padding: 15px;
} */

.logo-img {
    width: auto;
    height: 25px;
}

.logo {
  align-self: flex-end;
}

.pawst-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

.title, .subtitle {
    width: 85%;
    word-wrap: normal;
}

.post-title {
    font-weight: bolder;
    font-size: 2rem;
    text-align: start;
}

.post-subtitle {
    color: grey;
    font-size: 1.5rem;
    text-align: start;
}

.post-author {
    font-size: 1.1rem;
    text-align: start;
    text-decoration: none;
    color: rgb(255, 138, 236);
    text-transform: capitalize;
}

.date {
    font-size: 1.1rem;
}

.author-utils {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.author-date {
    display: flex;

}

.post-author {
    margin-right: 30px;
}

.edit-delete {
    display: flex;
}


.function-btns {
    display: flex;
}


.post-author:hover {
    text-decoration: underline;
}



hr {
    width: 85%
}

.content {
    width: 85%;
    border: 1px solid black;
    box-sizing: border-box;
}



#post-content {
    width: inherit;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.pawst-content-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

#pawments-container h3 {
  margin-bottom: 20px;
}


.pawst-content-footer .author {
  margin-right: 10px;
}

.likes-stats,
.pawments-stats {
  display: flex;
  align-items: center;
}

.like-icon,
.pawment-icon {
  margin-right: 5px;
}

.like-btn {
    color: rgba(255, 0, 0, 0.3);
}

.like-btn:hover {
    color: rgba(255, 0, 0, 0.5);
}

.clicked {
    color: rgba(255, 0, 0, 0.8);
}

.new-pawment-box {
  margin-bottom: 30px;
}

.new-pawment-box textarea {
  resize: vertical;
  min-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
}

.pawment {
  padding: 0 0 15px;
  border: 1px solid #ffd7dc;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  opacity: 100%;
  transition: opacity .75s;
}
.pawment.blinder {
  opacity: 0%;
}
.pawment:last-of-type {
  border: none;
}
.pawmenter-info,
.pawment-content {
  font-family: 'Didact Gothic', sans-serif;
}
.pawmenter-info {
  color: #888888;
  margin-bottom: 10px;
}
.commenter-name {
  margin-bottom: 5px;
}
.pawment-date {
  font-size: 0.85rem;
}
.pawment-content {
  box-sizing: border-box;
  min-height: 100px;
  padding: 10px;
  color: #333333;
  margin-bottom: 5px;
  background-color: #FFF5F7;
  /* border: 1px solid #D0D0D0; */
}
.pawment-buttons {
  display: flex;
  flex-direction: row;
}
