.container {
    display: flex;
}

.user-bio {
    flex: 0 1 25%;
}

.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.user-name, .user-email {
    padding: 15px;
}

.pawst-body {
    flex: 0 1 75%;
}

.content {
    width: 70%;
    border: 1px solid black;
    box-sizing: border-box;
}

#post-content {
    width: inherit;
    white-space: pre-wrap;
}