
/* .user-bio {
    flex: 0 1 25%;
} */

/* .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
} */

/* .user-name, .user-email {
    padding: 15px;
} */

.pawst-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

.title, .subtitle {
    width: 85%;
    word-wrap: normal;
}

.post-title {
    font-weight: bolder;
    font-size: 2rem;
    text-align: start;
}

.post-subtitle {
    color: grey;
    font-size: 1.5rem;
    text-align: start;
}

.post-author {
    font-size: 1.1rem;
    text-align: start;
    text-decoration: none;
    color: rgb(255, 138, 236);
    text-transform: capitalize;
}

.date {
    font-size: 1.1rem;
}

.author-utils {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.author-date {
    display: flex;

}

.post-author {
    margin-right: 30px;
}

.edit-delete {
    display: flex;
}


.function-btns {
    display: flex;
}


.post-author:hover {
    text-decoration: underline;
}



hr {
    width: 85%
}

.content {
    width: 85%;
    border: 1px solid black;
    box-sizing: border-box;
}



#post-content {
    width: inherit;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.like-btn {
    color: rgba(255, 0, 0, 0.3);
}

.like-btn:hover {
    color: rgba(255, 0, 0, 0.5);
}

.clicked {
    color: rgba(255, 0, 0, 0.8);
}