
/* .user-bio {
    flex: 0 1 25%;
} */

/* .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
} */

/* .user-name, .user-email {
    padding: 15px;
} */

.pawst-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

.post-title {
    font-weight: bolder;
}

.subtitle {
    color: grey;
}

hr {
    width: 85%
}

.content {
    width: 85%;
    border: 1px solid black;
    box-sizing: border-box;
}

#post-content {
    width: inherit;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;


}