.pawst-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
}

.title,
.subtitle {
  width: 85%;
  word-wrap: normal;
}

.post-title {
  font-weight: bolder;
  font-size: 2rem;
  text-align: start;
}

.post-subtitle {
  color: grey;
  font-size: 1.5rem;
  text-align: start;
}
.author-utils {
  margin-top: 10px;
}
.post-author,
.like-display {
  font-size: 1.1rem;
  text-align: start;
  text-decoration: none;
  color: rgba(255, 0, 0, 0.3);
  text-transform: capitalize;
}

hr {
  height: 1px;
  background-color: rgba(255, 0, 0, 0.15);
  border: none;
  width: 85%;
}

.author-link-footer {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(255, 0, 0, 0.3);
  text-transform: capitalize;
}

.like-btn,
.like-display {
  font-size: 2rem;
  color: rgba(255, 0, 0, 0.3);
}

.like-display {
  font-size: 1.3rem;
}

.date {
  font-size: 1.1rem;
}

.author-utils {
  display: flex;
  width: 85%;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.author-date {
  display: flex;
}

.post-author {
  margin-right: 30px;
}

.edit-delete {
  display: flex;
}

.function-btns {
  display: flex;
  font-size: 1.1rem;
}
.btn-edit,
.btn-delete,
.btn-edit-cancel,
.btn-edit-submit {
  padding: 5px;
  border-radius: 0.25em;
  margin: 0px 3px;
}
.btn-edit:hover,
.btn-delete:hover,
.btn-edit-cancel:hover,
.btn-edit-submit:hover {
  background-color: #cccccc;
}

.post-author:hover {
  text-decoration: underline;
}

.author:hover {
  text-decoration: underline;
}

.content {
  width: 85%;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

#post-content {
  width: inherit;
  white-space: pre-wrap;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
}

.pawst-content-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin-bottom: 30px;
}

.like-count {
  display: flex;
  align-items: center;
}

#pawments-container h3 {
  margin-bottom: 20px;
}

#pawments-container {
  width: 50%;
  min-width: 500px;
}

.form-group,
h3 {
  text-align: center;
}

.comment-submit-btn {
  text-align: center;
}

.pawst-content-footer .author {
  margin-right: 10px;
}

.author {
  width: 50%;
  text-align: center;
}

.likes-stats {
  display: flex;
  width: 50%;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.likes-stats-logged-out {
  display: flex;
  width: 50%;
  justify-content: center;
}

.likes-stats:hover {
  background-color: rgba(255, 0, 0, 0.03);
  border-radius: 8px;
}

.like-icon,
.pawment-icon {
  margin-right: 5px;
}

.like-display {
  margin: 0px;
  user-select: none;
}

.like-btn {
  color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
}

.like-btn-logged-out {
  color: rgba(255, 0, 0, 0.3);
  user-select: none;
}

.clicked .like-btn {
  color: rgba(255, 100, 100, 0.8);
}

.new-pawment-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

#new-pawment-form,
#new-pawment-form .form-group {
  width: 100%;
}

.new-pawment-box textarea {
  resize: vertical;
  box-sizing: border-box;
  min-width: 500px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffd7dc;
  border-radius: 5px;
}
.new-pawment-box textarea:focus {
  outline: none;
  border: 1px solid #ffa4b0;
}

.pawment {
  box-sizing: border-box;
  min-width: 500px;
  padding: 0 0 15px;
  border: 1px solid #ffd7dc;
  border-width: 0 0 1px;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  opacity: 100%;
  transition: opacity 0.75s;
}
.pawment.blinder {
  opacity: 0%;
}
.pawment:last-of-type {
  border: none;
}
.pawmenter-info,
.pawment-content {
  font-family: "Didact Gothic", sans-serif;
}
.pawmenter-info {
  color: #888888;
  margin-bottom: 10px;
}

.commenter-name {
  text-align: left;
}
.commenter-name-link {
  font-size: 1.1rem;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 0, 0, 0.3);
}

.commenter-name-link:hover {
  text-decoration: underline;
}

.pawment-date {
  font-size: 0.85rem;
  text-align: left;
}
.pawment-content {
  box-sizing: border-box;
  min-height: 100px;
  padding: 10px;
  color: #333333;
  margin-bottom: 5px;
  background-color: rgba(255, 215, 220, 0.25);
  border-radius: 8px;
  transition: background-color 0.3s;
  text-align: left;
}

.pawment-content:hover {
  background-color: rgba(255, 215, 220, 0.5);
}

.pawment-content:focus {
  box-shadow: inset 0px 1px 3px rgb(255 120 120 / 30%);
}

.pawment-buttons {
  display: flex;
  flex-direction: row;
}

#pawments-list > div {
  text-align: center;
}
