/* Signup Styling */

html {
  min-height: 100%;
  background-image: url('../images/cat-4475583_640.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% + 155px);
  background-size: 400px;
}

.logo-img {
    height: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .form-group:nth-last-child(2) {
  margin-bottom: 10px;
}

.form-container input.form-control {
  min-width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.form-control {
  min-width: 200px;
}

.demo-div {
  margin-top: 20px;
}
