/* Signup Styling */

.signup-top {

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .form-group:nth-last-child(2) {
  margin-bottom: 10px;
}

.form-container input.form-control {
  min-width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
