.page-container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.login-signup-container {
  background-color: rgba(255, 0, 0, 0.02);
  border-radius: 10px;
  padding: 1px 20px 5px;
  margin-top: 5px;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.03);
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-width: 0 0 1px;
}

.cat-image {
  background-image: url("../images/cat-4475583_640.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}

p > a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6464;
}

p > a:hover {
  color:rgb(219, 141, 141)
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .welcome-message {
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  }
}
